*.dll
glad.c
Sources/OpenGL/Debug
Sources/OpenGL/obj
Sources/OpenGL/bin
Sources/OpenGL/.vs
Sources/OpenGL/OpenGL/Resources
stb_image.h
*.sln
*.props
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Sources/OpenGL/.vscode